.cell {
  width: 100px;
  height: 100px;
}

.white {
  background-color: #eceff4;
}

.black {
  background-color: #3b4252;
}

.white.current {
  background: rgb(192, 0, 0);
}

.black.current {
  background: rgb(192, 0, 0);
}
